<div class="container" ng-app="gemStore">
    <p>
        Welcome to the Gem Store! Testing angular is running.  40 + 2 = {{40 + 2}}
    </p>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/gemStore.js"></script>
}