<div class="container" ng-app="gemStore">
    <p>
        Welcome to the Gem Store! Testing angular is running.  40 + 2 = {{40 + 2}}
    </p>

    <ul class="list-group" ng-controller="StoreController as store">
        <li class="list-group-item" ng-repeat="product in store.products">
            <h3>
                {{product.name}}
                <em class="pull-right"> ${{product.price}} </em>
            </h3>
        </li>
    </ul>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/gemStore.js"></script>
}